


body {
  text-align: center;
  background-color: #C0C0C0;
  width: 100vw;
  height: 100vh;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 50vh;
 /* outline: 3px solid limegreen !important;
 background: rgb(0 100 0 / 0.1) !important */
}


.flex-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* outline: 3px solid pink !important;
  background: rgba(155, 69, 143, 0.1) !important */
}