
.body {
  text-align: center;
  background-color: #C0C0C0;
  
}

body {
  text-align: center;
  background-color: #C0C0C0;
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: none;
  width: 100vw;
  height: 50vh;
  
}

.Data-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: none;
  width: 90%;
  height: 100%;
  
}


.flex-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: none;

  
}