@font-face {
    font-family: "Marsek Demi"; src: url("//db.onlinewebfonts.com/t/acdd049d7fa81fa8c93244213c79ec66.eot");
}

.invest {

    font-family: "Marsek Demi";
    font-size: 2vw;
}

.invest-div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    width: 50%;
    height: 50%;
    border: solid;
    border-radius: 1vh;
}