@font-face {
    font-family: "Marsek Demi"; src: url("//db.onlinewebfonts.com/t/acdd049d7fa81fa8c93244213c79ec66.eot");
}

.logo-header {
    height: 25vh;
    width: 12.5vw;
    
}

.header-title {
font-family: "Marsek Demi";
font-size: 5vw;
color: white;
}

.header1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;

}



.user-loggedin-profile {
    color: white;
    
}

.user-loggedin-profile h2 {
    font-size: 2vh;
}

.user-loggedin-profile p {
    font-size: 1.5vh;
}

.user-loggedin-profile img {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    
}